---
layout: default
---

<div class="row justify-content-center">
  <header class="col-md-12 text-center">
    <div><center><h1>{{ site.title }}</h1></center></div>
    <div><center><h4>{{ site.subtitle }}</h4></center></div>
    <center>
      <span class="big-ornament">
	{% include ornament.html %}
      </span>
    </center>
  </header>
</div>

<div class="row justify-content-center">
  <div class="index-col col-md-5">
    {% assign categories = site.categories | sort %}

    <h2 class="mt-4">Posts</h2>
    
    {% for category in categories %}
    <h3 class="mt-4">{{ category | first }}</h3>
    <p>
      {% for post in category[1] %}
      {{ forloop.index }}.&nbsp;
      <small>{{ post.date | date_to_string }} &nbsp; </small>
      <a class="mr-2" href="{{ post.url }}">{{ post.title }}</a></br>
      {% endfor %}
    </p>
    {% endfor %}
  </div>

  <div class="index-col col-md-5">

    <!-- Capture all tags across the site -->
    {% capture tags %}
    {% for tag in site.tags %}
    {{ tag[0] }}
    {% endfor %}
    {% endcapture %}

    <!-- Split and sort the tags -->
    {% assign sortedtags = tags | split:' ' | sort %}

    <h2 class="mt-4">Notebook</h2>
    
    <!-- Iterate through the sorted tag listed -->
    {% for tag in sortedtags %}

    <!-- For each tag, show it as a heading -->
    <h3 id="{{ tag }}">{{ tag }}</h3>

    <!-- Then, within each heading, list the pages with that tag -->
    
    <p>
      {% for post in site.tags[tag] %}
      {{ forloop.index }}.&nbsp;
      <a class="mt-4" href="{{ post.url }}">{{ post.title }}</a></br>
    </p>
    {% endfor %}
    {% endfor %}
    
  </div>
  
</div>
