$white: #fff;
$black: #000;

$ash: rgba(144, 144, 144, 1);
$nero: rgba(45, 45, 45, 1);
$midnight: rgba(25, 25, 25, 1);
$shade: rgba(0, 0, 0, 0.1);
$papier: rgba(247, 243, 239, 1);
$creme: rgba(237, 229, 217, 1);
$whipped: rgba(244, 238, 247, 1);
$blush: rgba(249, 225, 225, 1);

$accent-purple-1: rgba(75, 60, 90, 1);
$accent-purple-2: rgba(75, 60, 90, 0.8);
$accent-purple-3: rgba(115, 90, 140, 0.4);
$accent-purple-4: rgba(115, 90, 140, 1);
